.top
  .top__nickname
    =current_user.name
  .top__icon
    = link_to new_group_path do
      = fa_icon'edit', class: "icon"
    = link_to edit_user_path(current_user) do
      = fa_icon'gear', class: "icon"


