.right-center
  .right-center__group
    .right-center__group--name
      mattuu
    .right-center__group--date
      2018/10/08
    .right-center__group--message
      俺
  .right-center__group
    .right-center__group--name
      mattuu
    .right-center__group--date
      2018/12/11
    .right-center__group--message
      小ホス
