.bottom
  .bottom__group
    .bottom__group--name
      神
    .bottom__group--message
      へえけえっげげ
  .bottom__group
    .bottom__group--name
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .bottom__group--message
      とーーーーー
  .bottom__group
    .bottom__group--name
      sampleグループ
    .bottom__group--message
      ハイロー
