%body
  %header
    .heading
      チャットグループが作成されました。
  .contents
    .left-content
      = render partial: "edit"
      = render partial: "group"
    .right-content
      .right-top
        .right-top__name
          sampleグループ
        .right-top__edit
          Edit
        .right-top__member
          Member : mattuu
      = render partial: "chats"
      .right-bottom
        .right-bottom__text
          .right-bottom__text--message
            type a message
          .right-bottom__text--icon
            = fa_icon'image'
        .right-bottom__send
          Send
