%body
  %header
    .heading
      チャットグループが作成されました。
  .contents
    .left-content
      .top
        .top__nickname
          mattuu
        .top__icon
          %i.fa.fa-edit
          %i.fa.fa-gear
      .bottom
        .bottom__group
          .bottom__group--name
            神
          .bottom__group--message
            へえけえっげげ
        .bottom__group
          .bottom__group--name
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .bottom__group--message
            とーーーーー
        .bottom__group
          .bottom__group--name
            sampleグループ
          .bottom__group--message
            ハイロー
    .right-content
      .right-top
        .right-top__name
          sampleグループ
        .right-top__edit
          Edit
        .right-top__member
          Member : mattuu
      .right-center
        .right-center__group
          .right-center__group--name
            mattuu
          .right-center__group--date
            2018/10/08
          .right-center__group--message
            俺
        .right-center__group
          .right-center__group--name
            mattuu
          .right-center__group--date
            2018/12/11
          .right-center__group--message
            小ホス
      .right-bottom
        .right-bottom__text
          .right-bottom__text--message
            type a message
          .right-bottom__text--icon
            %i.fa.fa-image
        .right-bottom__send
          Send
