// このファイルですべてのscssファイルを@importで読み込むことで、一つのsassファイルに統合します。


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.contents {
  height:100%;
  width: 100%;
  @include clearfix() ;
}

.left-content {
  background-color: #2f3e51;
  height: 100%;
  width: 300px;
  color: $white;
  display: inline-block;

}

.right-content {
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
  @include clearfix() ;
}








