// このファイルですべてのscssファイルを@importで読み込むことで、一つのsassファイルに統合します。


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

header {
  height: 24px;
  width: 100%;
  .heading{
    background-color: $water;
    color: $white;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }
}

.contents {
  height: calc(100% - 24px);
  width: 100%;
  @include clearfix() ;
}

.left-content {
  background-color: #2f3e51;
  height: 100%;
  width: 300px;
  color: $white;
  display: inline-block;
}

.right-content {
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  position: relative;
}








