// 複数回使用する色は、変数を定義する用のファイルを作成して、そのファイルに定義してください。
// このようにする理由は、変数を定義するファイルを読み込んでおくことで、その他のスタイルシートでも定義した変数を使用することができるからです。

$white: #ffffff !default;
$water: #38AEF0 !default;
$gray: #999999 !default;
$black: #434A54 !default;


$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
